.navbar {
    /* position: absolute;
    top: 30%; */
    width: 100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.navbar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
}

.box-resumeLogo, .box-projectsLogo, .box-contactLogo {
    width: 50px;
}